<h1>予定表</h1>

<% if @current_user.year.calendar_id %>
  <iframe id="google-calendar" src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= @current_user.year.calendar_id %>%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Asia%2FTokyo" style=" border-width:0 " width="1170" height="700" frameborder="0" scrolling="no"></iframe>
  右下の「+ Googleカレンダー」ボタンをクリックすると、自分のGoogle Calendarに統合できます。
<% else %>
  <p>
    <%= @current_user.year.class_year %>期の予定表が設定されていません。詳しくは管理者へお問い合わせください。
  </p>
<% end %>

<% @is_calendar_page = true %>
