<h1>登録されている期</h1>

<p>
  <%= link_to '新規登録', new_admin_year_path %>
</p>

<ul>
  <% @years.each do |year| %>
    <li><%= year.class_year %>期: <%= link_to 'メーリングリスト設定', year.ml_account ? edit_admin_year_ml_account_path(year) : new_admin_year_ml_account_path(year) %>, <%= link_to "教科を編集", admin_year_semesters_path(year) %></li>
  <% end %>
</ul>
