#banner {
  background: #fff;
}

.navbar-fixed-top + .container {
  margin-top: 150px;
}

@media (max-width: 979px) {
  .navbar-fixed-top + .container {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  #sidenav { width: 260px; }
  #sidenav.affix { top: 60px; }
}

@media (min-width: 980px) and (max-width: 1199px){
  #sidenav { width: 220px; }
  #sidenav.affix { top: 60px; }
}

@media (min-width: 768px) and (max-width: 979px) {
  #sidenav { width: 166px; }
  #sidenav.affix { top: 20px; }
}

@media (max-width: 767px) {
  #sidenav {
    width: auto;
    margin-top: 20px;
  }
  #sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

#sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 91px;
}

footer {
  .span12 {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ddd;

    address {
      margin-top: 5px;
    }

    #footer-credits {
      position: absolute;
      top: 0; right: 0;

      ul {
        list-style: none;

        li {
          float: left;
          margin: 5px;
        }

        li#footer-credit-rails {
          margin-top: 7px;
        }
      }
    }
  }
}
