<h1>教科情報データベース</h1>

<section>
  各教科のページには、利用者の方が自由に資料をアップロードすることができます。<br>
  総力戦として試験を乗り切るために、皆さんの情報を提供してください。
</section>

<section>
  <h3>資料の分類について</h3>
  <ol>
    <li><h4>過去問</h4>
      アップロードする際に、「年度」「試験名」「本試・追試の区別」「解答付きの有無」を入力してください。<br>
      <strong>個人で作成した模範解答例もこちらに上げてください。</strong>その際、「説明」に文責を入力してください。
    </li>
    <li><h4>小テスト</h4>
      アップロードする際に、「年度」「回」「解答付きの有無」を入力してください。<br>
      <strong>個人で作成した模範解答例もこちらに上げてください。</strong>その際、「説明」に文責を入力してください。
    </li>
    <li><h4>授業資料</h4>
      アップロードする際に、「年度」「回」を入力してください。<br>
    </li>
    <li><h4>個人作成資料</h4>
      上記の項目に当てはまらないものはすべてこちらに上げてください。<br>
      <strong>個人作成資料に限り、「説明」は必須項目です。</strong>文責、および簡単な内容説明をお願いします。
    </li>
  </ol>
</section>
